* {
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4 {
    margin-bottom: .3em;
    color: #0000cd;
}

ul {
    list-style: none;
    margin-top: .5em;
}

img {
    width: 100%;
    display: block;
}

/* Layouts */
body {
    margin: 0 auto;
    box-sizing: content-box;
    max-width: 960px;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;

    display: grid;
    grid-template-areas: "header"
                         "home"
                         "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 100px 
                        1fr
                        30px;
    min-height: 100vh;
}

.home {
    display: grid;
    grid-template-areas: "main featured";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.full {
    grid-area: home;
    display: grid;
    grid-template-areas: "main";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.header { 
    grid-area: header;
    background: #cedbe9;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header div {
    flex-basis: 50%;
    padding: .5em 0 .5em 1em;
    font-weight: bold;
    font-size: 2em;
    color: blue;
}

.header ul {
    display: flex;
    margin: 0 3em 0 0;
    flex-basis: 50%;
    justify-content: flex-end;
}

.header ul li {
    margin-left: 2em;
}

.footer { 
    grid-area: footer;
    background: #cedbe9;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    text-align: center;
    padding-top: .2em;
    color: gray;
}

.main { 
    grid-area: main;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 1em;
    background: lightyellow;
}

.right { 
    grid-area: featured;
    border-right: 1px solid gray;
    padding: 1em;
    background: #f2efe7;
}

.latest-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;
}

.latest-details {
    flex-basis: 30%;
}

.latest-description {
    flex-basis: 70%;
    padding: 0 0 0 1em;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category {
    flex-basis: 150px;
    margin: .5em;
}

.feature {
    margin-bottom: 1em;
}

.categories-wrapper {
    margin-top: 1em;
}

/* Forms */
.form div {
    display: flex;
    justify-content: flex-start;
    margin-bottom: .5em;
}

.form div label {
    min-width: 150px;
    align-self: flex-start;
    margin-top: 5px;
}

input, textarea {
    border: 1px solid lightgray;
    padding: 3px;
}

input[type='checkbox'] {
    margin-top: 5px;
}

textarea {
    width: 300px;
    height: 100px;
}

/* game show page*/
.game-show-wrapper {
    display: flex;
}

.game-show-image-wrapper {
    flex-basis: 30%;
    margin-right: 1em;
}

.game-show-image-wrapper img {
    border: 1px solid lightgray;
}

@media screen and (max-width: 700px) {

    .home {
        grid-template-areas:"main"
                            "featured";
                
        grid-template-columns: 100%;
        grid-template-rows: auto 
                            auto;
    }

    .latest-wrapper {
        flex-direction: column;
    }

    .latest-img {
        width: 75%;
        margin: 0 auto 1em auto;
    }

    .categories {
        flex-direction: column;
    }

    .categories-wrapper h3 {
        text-align: center;
    }

    .category {
        width: 50%;
        margin: 0 auto 1em auto;
    }

    .right {
        border: 0;
    }

    .right h3 {
        text-align: center;
    }
    
    .feature {
        width: 50%;
        margin: 0 auto 1em auto;
    }

    .header {
        flex-direction: column;
    }

    .header div {
        padding: 0;
        flex-basis: 30%;
        margin-top: .5em;
    }

    header ul {
        margin: .5em;
    }
    header ul li {
        margin: 0 1em;
    }
}