<main class="main">
    <div class="latest-wrapper">
        <div class="latest-details">
            <div class="latest-img">
                <img src="../../../images/monopoly.jpg"/>
            </div>
        </div>
        <div class="latest-description">
            <h4>Latest Game</h4>
            <p>Monopoly is a board game currently published by Hasbro. In the game, players roll two six-sided dice to move around the game board, buying and trading properties, and developing them with houses and hotels. Players collect rent from their opponents, with the goal being to drive them into bankruptcy.</p>
            <ul>
                <li>Category: Board game</li>
                <li>Number of players: 4</li>
                <li>Play length: 5 hrs</li>
                <li>Published: 1950</li>
            </ul>
        </div>
    </div>
    <div class="categories-wrapper">
        <h3>Categories</h3>
        <div class="categories">
            <div class="category">
                <img src="../../../images/monopoly.jpg"/>
            </div>
            <div class="category">
                <img src="../../../images/monopoly.jpg"/>
            </div>
            <div class="category">
                <img src="../../../images/monopoly.jpg"/>
            </div>
            <div class="category">
                <img src="../../../images/monopoly.jpg"/>
            </div>
            <div class="category">
                <img src="../../../images/monopoly.jpg"/>
            </div>
            <div class="category">
                <img src="../../../images/monopoly.jpg"/>
            </div>
            <div class="category">
                <img src="../../../images/monopoly.jpg"/>
            </div>
        </div>
    </div>
</main>
<aside class="right">
    <h3>Featured Games</h3>
    <div class="feature">
        <img src="../../../images/monopoly.jpg"/>
    </div>
    <div class="feature">
        <img src="../../../images/monopoly.jpg"/>
    </div>
</aside>