<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Board Game Tracker</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/styles.css" />
    <% if request.path_info == "/" %>
    <style>
        .hg {
            display: grid;
            grid-template-areas: "header header"
                                 "main featured"
                                 "footer footer";
            grid-template-columns: 3fr 1fr;
            grid-template-rows: 100px 
                                1fr
                                30px;
        }

        @media screen and (max-width: 500px) {
    
            .hg {
                grid-template-areas: "header"
                                    "main"
                                    "featured"
                                    "footer";
                grid-template-columns: 100%;
                grid-template-rows: 100px 
                                    auto 
                                    auto
                                    30px;
            }

            .latest-wrapper {
                flex-direction: column;
            }

            .latest-img {
                width: 75%;
                margin: 0 auto 1em auto;
            }

            .categories {
                flex-direction: column;
            }

            .category {
                width: 50%;
                margin: 0 auto 1em auto;
            }
        }
    </style>
    <%end%>
</head>

<body class="hg">
    <header class="header">
        
        <div>Board Game Tracker</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/categories">Categories</a></li>
            <% if logged_in? %>
                <li><a href="/logout">Logout</a></li>
            <% else %>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
            <% end %> 
        </ul>
    </header>
    <%= yield %>
    <footer class="footer">&copy;<%=Time.new.year%> Board Game Tracker</footer>
</body>

</html>